//fonts//
$imp: 'Cabin Sketch', cursive;
$rest: 'Shadows Into Light', cursive;
//colors//
$red: #B22222;
$blk: #000000;
$grey: #696969;
//presets//
.text-imp-1{
  font-family: 'Cabin Sketch', cursive;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
}
.text-imp-2{
  font-family: 'Cabin Sketch', cursive;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
}
.text-1{
  font-family: 'Shadows Into Light', cursive;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
}
.text-2{
  font-family: 'Shadows Into Light', cursive;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
}
.text-3{
  font-family: 'Shadows Into Light', cursive;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
}
